.teclado {
	height: 230px;
	width: 530px;
	border: thin dotted #000;
	background-color: #E8E8E8;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
.texto {
	height: 40px;
	width: 530px;
	text-align: center;
	vertical-align: bottom;	
	padding-top: 20px;
}

.visor {
	-ms-transform: scale(1.8 , 1.8);
	-webkit-transform: scale(1.8 , 1.8);
	-moz-transform: scale(1.8 , 1.8);
	-o-transform:scale(1.8 , 1.8);
	transform: scale(1.8 , 1.8);
	font-family: Georgia, "Times New Roman", Times, serif;
        width: 280px;
}

.teclas {
	background-color: #CCC;
	padding: 0px;
	height: 20px;
	width: 20px;
	border: thin solid #000;
	margin: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.teclatab {
	background-color: #CCC;
	padding: 0px;
	height: 20px;
	width: 40px;
	border: thin solid #000;
	margin: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.teclabloqueomayusculas {
	background-color: #CCC;
	padding: 0px;
	height: 20px;
	width: 60px;
	border: thin solid #000;
	margin: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mayusizquierda {
	background-color: #CCC;
	padding: 0px;
	height: 20px;
	width: 25px;
	border: thin solid #000;
	margin: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mayusderecha {
	background-color: #CCC;
	padding: 0px;
	height: 20px;
	width: 125px;
	border: thin solid #000;
	margin: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.teclacontrol {
	background-color: #CCC;
	padding: 0px;
	height: 20px;
	width: 40px;
	border: thin solid #000;
	margin: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.teclasinferiores {
	background-color: #CCC;
	padding: 0px;
	height: 20px;
	width: 30px;
	border: thin solid #000;
	margin: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.teclaespacio {
	background-color: #CCC;
	padding: 0px;
	height: 20px;
	width: 200px;
	border: thin solid #000;
	margin: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.teclaenter1 {
	background-color: #CCC;
	padding: 0px;
	height: 20px;
	width: 80px;
	border: thin solid #000;
	margin: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.teclaenter2 {
	background-color: #CCC;
	padding: 0px;
	height: 20px;
	width: 60px;
	border: thin solid #000;
	margin: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.teclaborrar {
	background-color: #CCC;
	padding: 0px;
	height: 20px;
	width: 100px;
	border: thin solid #000;
	margin: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}



.separador {
	height: 1px;
	width: 1px;
	clear: both;
}




/*
Estilos para el menu principal
*/

#todo{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	
	
}
#cabecera{
	width: 100%;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	
}
#pie{
	width: 100%;
	height: 20px;
	margin-right: auto;
	margin-left: auto;
	background-color: #999;
	color: #FFF;
}
.prueba {
	background-color: #C5C4D9;
}
#menu{
	width: 100%;
	height: 70px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#cuerpo{
 	padding-right: 20px;
	padding-left: 30px;
}
a:link {
	background-color:#999;
	color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
a:visited {
	background-color:#999;
	color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
a:hover {
	background-color:#CCC;
	color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
a:active {
	background-color:#999;
	color: #F00;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#present {
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	background-color: #E6E6E6;
	border: thin solid #999;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
	text-align: justify;
}
#present2 {
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	background-color: #E6E6E6;
	border: thin solid #999;
	width: 530px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
}

h1 {
	font-size: 36px;
}

h2,h1 {
	-webkit-text-shadow: 5px 5px 5px #999;
	-moz-text-shadow: 5px 5px 5px #999;
	 text-shadow: 5px 5px 5px #999;
}
.parrafo2 {
	text-indent: 40px;
}
#foto{
	height: 160px;
	width: 160px;
	float: left;
	padding-right: 10px;
}
