<link href="meca.css" rel="stylesheet" type="text/css" />
<div id="present2">
  <center><h2>Curso de mecanografía.</h2></center>
  <p class="parrafo2">Hola para poder seguir el curso deves estar registrado te llevara unos segundos. <br />
    Si no quieres registrarte puedes hacer las lecciones en el menu lecciones o practicar con unos de nuestos textos.</p>
</div>
