<link href="meca.css" rel="stylesheet" type="text/css">

<div class="teclado" id="teclado">

<div class="texto" id="texto"> <input name="visor" type="text" class="visor" readonly="readonly" id="visor" /></div>
<div class="separador" ></div>

<div class="teclas" id="1tecla1">º</div>
<div class="teclas" id="1tecla2">1</div>
<div class="teclas" id="1tecla3">2</div>
<div class="teclas" id="1tecla4">3</div>
<div class="teclas" id="1tecla5">4</div>
<div class="teclas" id="1tecla6">5</div>
<div class="teclas" id="1tecla7">6</div>
<div class="teclas" id="1tecla8">7</div>
<div class="teclas" id="1tecla9">8</div>
<div class="teclas" id="1tecla10">9</div>
<div class="teclas" id="1tecla11">0</div>
<div class="teclas" id="1tecla12">'</div>
<div class="teclas" id="1tecla13">¡</div>
<div class="teclaborrar" id="1tecla14"><-</div>

<div class="separador" ></div>
<div class="teclatab" id="2tecla1">Tab</div>
<div class="teclas" id="2tecla2">q</div>
<div class="teclas" id="2tecla3">w</div>
<div class="teclas" id="2tecla4">e</div>
<div class="teclas" id="2tecla5">r</div>
<div class="teclas" id="2tecla6">t</div>
<div class="teclas" id="2tecla7">y</div>
<div class="teclas" id="2tecla8">u</div>
<div class="teclas" id="2tecla9">i</div>
<div class="teclas" id="2tecla10">o</div>
<div class="teclas" id="2tecla11">p</div>
<div class="teclas" id="2tecla12">'</div>
<div class="teclas" id="2tecla13">+</div>
<div class="teclaenter1" id="2tecla14">Enter</div>

<div class="separador" ></div>
<div class="teclabloqueomayusculas" id="3tecla1">B.Mayus</div>
<div class="teclas" id="3tecla2">a</div>
<div class="teclas" id="3tecla3">s</div>
<div class="teclas" id="3tecla4">d</div>
<div class="teclas" id="3tecla5">f</div>
<div class="teclas" id="3tecla6">g</div>
<div class="teclas" id="3tecla7">h</div>
<div class="teclas" id="3tecla8">j</div>
<div class="teclas" id="3tecla9">k</div>
<div class="teclas" id="3tecla10">l</div>
<div class="teclas" id="3tecla11">ñ</div>
<div class="teclas" id="3tecla12">´</div>
<div class="teclas" id="3tecla13">ç</div>
<div class="teclaenter2" id="3tecla14">Enter</div>

<div class="separador" ></div>
<div class="mayusizquierda" id="4tecla1">M</div>
<div class="teclas" id="4tecla2"><</div>
<div class="teclas" id="4tecla3">z</div>
<div class="teclas" id="4tecla4">x</div>
<div class="teclas" id="4tecla5">c</div>
<div class="teclas" id="4tecla6">v</div>
<div class="teclas" id="4tecla7">b</div>
<div class="teclas" id="4tecla8">n</div>
<div class="teclas" id="4tecla9">m</div>
<div class="teclas" id="4tecla10">,</div>
<div class="teclas" id="4tecla11">.</div>
<div class="teclas" id="4tecla12">-</div>
<div class="mayusderecha" id="4tecla13">Mayus</div>

<div class="separador" ></div>
<div class="teclacontrol" id="4tecla1">Ctl</div>
<div class="teclasinferiores" id="5tecla2">#</div>
<div class="teclasinferiores" id="5tecla3">Alt</div>
<div class="teclaespacio" id="5tecla4"></div>
<div class="teclasinferiores" id="5tecla5">AlGr</div>
<div class="teclasinferiores" id="5tecla6">#</div>
<div class="teclasinferiores" id="5tecla7">v</div>
<div class="teclacontrol" id="5tecla8">Ctl</div>



</div>


